<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ settings.favicon.url }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ settings.favicon.url }}" type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/font-awesome.css' %}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/icofont.css' %}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/themify.css' %}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/flag-icon.css' %}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/feather-icon.css' %}">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/scrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/datatables.css' %}">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/vendors/bootstrap.css' %}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/style.css' %}">
    <link id="color" rel="stylesheet" href="{% static 'admin/assets/css/color-1.css' %}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/responsive.css' %}">
    <style>
      svg.verify-ico {
        margin-bottom: -2px;
        margin-left: 4px;
    }
    i.fa.fa-gear {
      font-size: 20px;
      color: #a7a7a7;
      margin-right: 13px;
    }
    .django-ckeditor-widget {
      width: 100% !important;
    }
    .ckf{
    border:none !important; 
    background:transparent !important; 
    padding: 0px !important;
    }
    .cke {
      width: 100% !important;
      }
    ul.layout-grid.unlimited-color-layout {
      display: none !important;
  }
      </style>
  </head>
  <body onload="startTime()">
    <!-- loader starts-->
    <div class="loader-wrapper">
      <div class="loader-index"><span></span></div>
      <svg>
        <defs></defs>
        <filter id="goo">
          <fegaussianblur in="SourceGraphic" stddeviation="11" result="blur"></fegaussianblur>
          <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"> </fecolormatrix>
        </filter>
      </svg>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      <div class="page-header">
        <div class="header-wrapper row m-0">
          <form class="form-inline search-full col" action="#" method="get">
            <div class="form-group w-100">
              <div class="Typeahead Typeahead--twitterUsers">
                <div class="u-posRelative">
                  <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Cuba .." name="q" title="" autofocus>
                  <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading...</span></div><i class="close-search" data-feather="x"></i>
                </div>
                <div class="Typeahead-menu"></div>
              </div>
            </div>
          </form>
          <div class="header-logo-wrapper col-auto p-0">
            <div class="logo-wrapper"><a href="{% url "adminHome" %}"><img class="img-fluid" src="{{ settings.logo_light.url }}" alt=""></a></div>
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
          </div>
          <div class="left-header col-xxl-5 col-xl-6 col-lg-5 col-md-4 col-sm-3 p-0">
            <div class="notification-slider">
              <div class="d-flex h-100"> <img src="{% static 'admin/assets/images/giftools.gif' %}" alt="gif">
                <h6 class="mb-0 f-w-400"><span class="font-primary">Welcome </span> <span class="f-light"> To The Dashboard {{request.user.userprofile.name}}</span></h6></i>
              </div>
              <div class="d-flex h-100"><img src="{% static 'admin/assets/images/giftools.gif' %}" alt="gif">
                <h6 class="mb-0 f-w-400"><span class="f-light">Create or Modify Your Website From Here</span></h6>
              </div>
            </div>
          </div>
          <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
            <ul class="nav-menus">
            
              <li>
                <div class="mode">
                  <svg>
                    <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#moon"></use>
                  </svg>
                </div>
              </li>

              <li class="profile-nav onhover-dropdown pe-0 py-0">
                <div class="media profile-media"><img class="b-r-10" src="{{ request.user.userprofile.getUserImage }}" width="40" alt="">
                  <div class="media-body"><span>{{ request.user.userprofile.name }}</span>
                    <p class="mb-0 font-roboto">{{ request.user.role }} <i class="middle fa fa-angle-down"></i></p>
                  </div>
                </div>
                <ul class="profile-dropdown onhover-show-div">
                  {% if request.user.role == 'Admin' %}
                  <li><a href="{% url "userList" %}"><i data-feather="users"></i><span>usuarios</span></a></li>
                  {% endif %}
                  <li><a href="{% if request.is_secure %}https://{{ request.get_host }}/sitemap.xml{% else %}http://{{ request.get_host }}/sitemap.xml{% endif %}"><i data-feather="map"></i><span>Mapa del sitio</span></a></li>
                  {% if request.user.role == 'Admin' %}
                  <li><a href="{% url "AdminWebsiteSettings" %}"><i data-feather="settings"></i><span>configuración</span></a></li>
                  {% endif %}
                  <li><a href="{% url "LogOut" %}"><i data-feather="log-in"> </i><span>Cerrar sesión</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
          <script class="result-template" type="text/x-handlebars-template">
            <div class="ProfileCard u-cf">                        
            <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
            <div class="ProfileCard-details">
            <div class="ProfileCard-realName">{{name}}</div>
            </div>
            </div>
          </script>
          <script class="empty-template" type="text/x-handlebars-template"><div class="EmptyMessage">Su búsqueda arrojó 0 resultados. Lo más probable es que esto signifique que el backend está inactivo, ¡ay!</div></script>
        </div>
      </div>
      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div class="sidebar-wrapper" sidebar-layout="stroke-svg">
          <div>
            <div class="logo-wrapper">
            <a href="{% url "adminHome" %}">
              <img class="img-fluid for-light" src="{{ settings.logo_dark.url }}" width="170" alt="">
              <img class="img-fluid for-dark" src="{{ settings.logo_light.url }}" width="170" alt="">
            </a>
              <div class="back-btn"><i class="fa fa-angle-left"></i></div>
              <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
            </div>
            <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" src="{{ settings.favicon.url }}" width="30" alt=""></a></div>
            <nav class="sidebar-main">
              <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
              <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                  <li class="back-btn"><a href="index.html"><img class="img-fluid" src="{{ settings.favicon.url }}" width="30"  alt=""></a>
                    <div class="mobile-back text-end"><span>Back</span><i class="fa-solid fa-angle-right ps-2" aria-hidden="true"></i></div>
                  </li>
                  <li class="sidebar-main-title">
                    <div>
                      <h6 class="lan-1">general</h6>
                    </div>
                  </li>
                  <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title" href="#">
                      <svg class="stroke-icon">
                        <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#stroke-home"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#fill-home"></use>
                      </svg><span class="">panel</span></a>
                    <ul class="sidebar-submenu">
                      <li><a class="" href="{% url 'adminHome' %}">inicio</a></li>
                    </ul>
                  </li>
                  {% if request.user.role == 'Admin' %}
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
                      <svg class="stroke-icon">
                        <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#stroke-layout"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#fill-layout"></use>
                      </svg><span class="">Pages</span></a>
                    <ul class="sidebar-submenu">
                      <li><a href="{% url "AdminHomePage" %}">Página principal</a></li>
                      <li><a href="{% url "AdminAboutPage" %}">Acerca de la página</a></li>
                      <li><a href="{% url "AdminServicePage" %}">Página de servicio</a></li>
                      <li><a href="{% url "AdminProjectPage" %}">Página del proyecto</a></li>
                      <li><a href="{% url "AdminPricingPage" %}">Página de precios</a></li>
                      <li><a href="{% url "AdminContactPage" %}">Página de contacto</a></li>
                      <li><a href="{% url "AdminTermsPage" %}">Página de términos</a></li>
                      <li><a href="{% url "AdminPolicyPage" %}">Página de políticas</a></li>
                    </ul>
                  </li>

                  <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
                    <svg class="stroke-icon">
                      <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#stroke-landing-page"></use>
                    </svg>
                    <svg class="fill-icon">
                      <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#fill-landing-page"></use>
                    </svg><span class="">Páginas personalizadas</span></a>
                  <ul class="sidebar-submenu">
                    <li><a href="{% url "adminCustomPage" %}">Todas las páginas</a></li>
                    <li><a href="{% url "adminCustomPageCreate" %}">Crear página</a></li>
                  </ul>
                </li>
                
                  {% endif %}
                  <li class="sidebar-main-title">
                    <div>
                      <h6 class="">Configuraciones del sitio</h6>
                    </div>
                  </li>
                  <li class="sidebar-list">
                   <a class="sidebar-link sidebar-title" href="#">
                      <svg class="stroke-icon">
                        <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#stroke-blog"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#fill-blog"></use>
                      </svg><span>blogs</span></a>
                    <ul class="sidebar-submenu">
                      <li><a href="{% url 'adminBlogList' %}">Listas de blogs</a></li>
                      <li><a href="{% url 'adminBlogCreate' %}">Crear nuevo</a></li>
                      <li><a href="{% url 'adminBlogCategoryList' %}">Categorías del blog</a></li>
                    </ul>
                  </li>
                  {% if request.user.role == 'Admin' %}
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
                      <svg class="stroke-icon">
                        <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#stroke-file"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#fill-file"></use>
                      </svg><span>proyectos</span></a>
                    <ul class="sidebar-submenu">
                      <li><a href="{% url 'adminProjectList' %}">Lista de proyectos</a></li>
                      <li><a href="{% url 'adminProjectCreate' %}">Crear proyecto</a></li>
                      <li><a href="{% url 'adminProjectCategoryList' %}">Categorías de proyectos</a></li>
                    </ul>
                  </li>
                  
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
                    <svg class="stroke-icon">
                      <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#stroke-others"></use>
                    </svg>
                    <svg class="fill-icon">
                      <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#fill-others"></use>
                    </svg><span>servicios</span></a>
                  <ul class="sidebar-submenu">
                    <li><a href="{% url 'adminServiceList' %}">Lista de servicios</a></li>
                    <li><a href="{% url 'adminServiceCreate' %}">Crear servicio</a></li>
                  </ul>
                </li>
                
                <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
                  <svg class="stroke-icon">
                    <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#stroke-job-search"></use>
                  </svg>
                  <svg class="fill-icon">
                    <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#fill-job-search"></use>
                  </svg><span>elementos</span></a>
                <ul class="sidebar-submenu">
                  <li><a href="{% url 'adminSliderElementList' %}">resbaladores</a></li>
                  <li><a href="{% url 'adminFunFactElementList' %}">Datos curiosos</a></li>
                  <li><a href="{% url 'adminClientElementList' %}">clientes</a></li>
                  <li><a href="{% url 'adminTestimonialsElementList' %}">testimonios</a></li>
                  <li><a href="{% url 'adminTeamElementList' %}">Miembros del equipo</a></li>
                  <li><a href="{% url 'adminPricingElementList' %}">precios</a></li>
                </ul>
              </li>
              <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
                <svg class="stroke-icon">
                  <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#stroke-user"></use>
                </svg>
                <svg class="fill-icon">
                  <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#fill-user"></use>
                </svg><span>usuarios</span></a>
              <ul class="sidebar-submenu">
                <li><a href="{% url 'userList' %}">Lista de usuarios</a></li>
                <li><a href="{% url 'createUser' %}">Crear usuario</a></li>
              </ul>
            </li>
            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
              <svg class="stroke-icon">
                <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#stroke-form"></use>
              </svg>
              <svg class="fill-icon">
                <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#fill-form"></use>
              </svg><span>Datos del formulario</span></a>
            <ul class="sidebar-submenu">
              <li><a href="{% url "AdminContactList" %}">Formulario de contacto</a></li>
              <li><a href="{% url "AdminSubscriberList" %}">Formulario de suscripción</a></li>
            </ul>
          </li>
          <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
            <svg class="stroke-icon">
              <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#stroke-learning"></use>
            </svg>
            <svg class="fill-icon">
              <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#fill-learning"></use>
            </svg><span>menús</span></a>
          <ul class="sidebar-submenu">
            <li><a href="{% url "AdminPrimaryMenuList" %}">Menú principal</a></li>
            <li><a href="{% url "AdminSubMenuList" %}">Sub Menú</a></li>
            <li><a href="{% url "AdminPrimaryMenuCreate" %}">Crear nuevo</a></li>
          </ul>
        </li>
                 
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
                    <i class="fa fa-gear"></i><span>configuración</span></a>
                  <ul class="sidebar-submenu">
                    <li><a href="{% url "AdminWebsiteSettings" %}">Configuración del sitio web</a></li>
                    <li><a href="{% url "AdminHeaderFooterSettings" %}">Encabezado Pie de página</a></li>
                    <li><a href="{% url "AdminSEOSettings" %}">SEO</a></li>
                  </ul>
                </li>
                {% endif %}
                  <li class="sidebar-main-title">
                    <div>
                      <h6>aplicaciones</h6>
                    </div>
                  </li>
                  
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
                    <svg class="stroke-icon">
                      <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#stroke-email"></use>
                    </svg>
                    <svg class="fill-icon">
                      <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#fill-email"></use>
                    </svg><span>Herramientas de marketing</span></a>
                  <ul class="sidebar-submenu">
                    {% if request.user.role == 'Admin' %}
                    <li><a href="{% url "emailMarketing" %}">Marketing por correo electrónico</a></li>
                    <li><a href="{% url "smsMarketing" %}">SMS Marketing</a></li>
                    {% endif %}
                    <li><a href="{% url "emailFormator" %}">Formator de correo electrónico</a></li>
                    <li><a href="{% url "numberFormator" %}">Formator de números</a></li>
                  </ul>
                </li>
               

              <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="{% if request.is_secure %}https://{{ request.get_host }}/sitemap.xml{% else %}http://{{ request.get_host }}/sitemap.xml{% endif %}">
                <svg class="stroke-icon">
                  <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#stroke-learning"></use>
                </svg>
                <svg class="fill-icon">
                  <use href="{% static 'admin/assets/svg/icon-sprite.svg' %}#fill-learning"> </use>
                </svg><span>sitemap</span></a></li>
              
              <li class="sidebar-list">
                <a href="sidebar-link sidebar-title link-nav"></a>
              </li>
    
                </ul>
              </div>
              <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
            </nav>
          </div>
        </div>
        <!-- Page Sidebar Ends-->

        {% block content %}{% endblock content %}

        <!-- footer start-->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 footer-copyright text-center">
                <p class="mb-0">{{ header_footer.footer_copyright|safe }}</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- latest jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="{% static 'admin/assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <!-- feather icon js-->
    <script src="{% static 'admin/assets/js/icons/feather-icon/feather.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/icons/feather-icon/feather-icon.js' %}"></script>
    <!-- scrollbar js-->
    <script src="{% static 'admin/assets/js/scrollbar/simplebar.js' %}"></script>
    <script src="{% static 'admin/assets/js/scrollbar/custom.js' %}"></script>
    <!-- Sidebar jquery-->
    <script src="{% static 'admin/assets/js/config.js' %}"></script>
    <!-- Plugins JS start-->
    <script src="{% static 'admin/assets/js/sidebar-menu.js' %}"></script>
    <script src="{% static 'admin/assets/js/clock.js' %}"></script>
    <script src="{% static 'admin/assets/js/slick/slick.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/slick/slick.js' %}"></script>
    <script src="{% static 'admin/assets/js/header-slick.js' %}"></script>
    <script src="{% static 'admin/assets/js/chart/apex-chart/apex-chart.js' %}"></script>
    <script src="{% static 'admin/assets/js/chart/apex-chart/stock-prices.js' %}"></script>
    <script src="{% static 'admin/assets/js/chart/apex-chart/moment.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/notify/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/dashboard/default.js' %}"></script>
    <script src="{% static 'admin/assets/js/notify/index.js' %}"></script>
    <script src="{% static 'admin/assets/js/typeahead/handlebars.js' %}"></script>
    <script src="{% static 'admin/assets/js/typeahead/typeahead.bundle.js' %}"></script>
    <script src="{% static 'admin/assets/js/typeahead/typeahead.custom.js' %}"></script>
    <script src="{% static 'admin/assets/js/typeahead-search/handlebars.js' %}"></script>
    <script src="{% static 'admin/assets/js/typeahead-search/typeahead-custom.js' %}"></script>
    <script src="{% static 'admin/assets/js/height-equal.js' %}"></script>
    <script src="{% static 'admin/assets/js/animation/wow/wow.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/datatable/datatables/datatable.custom.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="{% static 'admin/assets/js/script.js' %}"></script>
    <script src="{% static 'admin/assets/js/theme-customizer/customizer.js' %}"></script>

    {% include "error/demo_mode.html" %}
    <!-- Plugin used-->
    <script>new WOW().init();</script>
  </body>
</html>